/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-paleBlue);
  justify-content: center;  
  align-items: center;  
  height: 1080px;
  /*padding: 20px;  for small screen  */
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

.container {
  display: flex;
  background-color: var(--clr-white);
  max-width: 800px;    /*to be reviewed*/
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Hanken Grotesk';
  font-display: swap;
}

.result-board {
  background: linear-gradient(var(--gra-lightSlateBlue), var(--gra-lightRoyalBlue));
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 50%;
  border-radius: 20px;
  color: var(--clr-white);
  padding:30px 75px 50px;
  text-align: center;
}

.circle {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  background: linear-gradient(hsl(256, 98%, 32%),var(--gra-lightSlateBlue));
  border-radius: 50%;
  justify-content: center; 
  align-items: center; 
  color: var(--clr-white);
  margin-top: 35px;
  }

  .r-score {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.1;
    opacity: 0.70;
  }

  .score {
    color: var(--clr-greenTeal);
    font-weight: bold;
  }

.of100 {
  font-size: 18px;
  margin-top: 0;
  opacity: 0.70;
} 

.on100 {
  color: var(--clr-greenTeal);
}

.grade {
  font-size: 30px;
  font-weight: bold;
  margin-top: 22px;
  }
  
.description {
  font-size: 18px;
  margin-top: 10px;
  padding: 0 10px;
  min-width: 300px;
  opacity: 0.70;
  }

.summary {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 32px;
  row-gap: 16px;
  font-size: 18px;
  }

  .summary-title {
    font-size: 23px;
    font-weight: bold;
    color: var(--clr-greenTeal);
    margin-bottom: 7px;
  }
  
.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  
  border-radius: 10px;
  padding: 15px 15px;
  }

.summary-item span {
  display: flex;
  align-items: center;
  gap: 10px;
}  

.reaction {
  background-color:rgb(255, 239, 239) ;
  color: var(--clr-lightRed);
 } 


.memory {
  background-color: hsl(40, 86%, 97%);
  color: var(--clr-orangeYellow);
 
  }

.verbal {
  background-color:rgb(240, 253, 240);
  color:limegreen;
  }

.visual {
  background-color:hsl(240, 83%, 98%);
  color: hsl(241, 81%, 54%);;
  }

  .continue {
    color: var(--clr-white);
    background-color: var(--clr-greenTeal);
    text-align: center;
    vertical-align: middle;
    border-radius: 28px;
    font-family: 'Hanken Grotesk';
    font-display: swap;
    margin-top: 22px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    }

  .continue:hover {
    background-color: hsl(39, 79%, 75%); 
    color: var(--clr-greenTeal);
    border: none;
  }  

  @media (max-width: 576px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top:1rem;
      }
    .result-board {
      width: 80%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }  

    .summary {
      width: 100%;
      padding: 3rem;
      padding-top: 1rem;
    }
    
    .grade {
      margin-top:0.5rem;
    }

    .circle {
      margin-top: 10px;
    }

    .continue {
      margin-top: 1rem;
    }
  }
  
/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }